
<div class="accordion" id="accordionExample">
  {% for block in section.blocks %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{block.settings.question | escape }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>{{block.settings.answer | escape }}
      </div>
    </div>
 {% endfor %}
</div>

{% schema %}
 {
 	"name": "faq",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "block",
      "settings": [
        {
          "id": "question",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "type": "text",
          "label": "Answer"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "product faq",
      "category": "product"
    }
  ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}