<input type="button" class="btn btn-primary" value="submit">
<h2 class="faq__heading h2 text-center">Review</h2>
<div class="row px-2">
{% for block in section.blocks %}
  <div class="col-md-3 ps-2">
<div class="card " >
  <img class="card-img-top" src="{{ block.settings.review_image | image_url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><strong>{{block.settings.title | escape }}</strong></h5>
    <p class="card-text" style="color:{{block.settings.description_text}}">{{block.settings.description | escape }}</p>
  </div>
</div>
</div>
 {% endfor %}
</div>
{% schema %}
 {
  "name": "review",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "block",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "description_text",
          "label": "Description Text"
        },
        {
          "type": "image_picker",
          "id": "review_image",
          "label": "Image"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "product review",
      "category": "product"
    }
  ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}